*{
    margin: 0;
    border: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

.navbar{
    height:60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.nav-logo{
    height: 50px;
    width: 100px;
}



.border{
    border: 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
}
.nav-address{
    font-size:medium;
    color: #cccccc;
    padding: 5px;
}
.add-icon{
    font-size: large;
    color: #ffffff;
    display: flex;
    align-items:center ;
}

.nav-search{
    display: flex;
    height: 40px;
    width: 700px;
    background-color: rgb(230, 168, 75);
    border-radius: 4px;
    justify-content: space-evenly;
}
.nav-search:hover{
    border: solid 2px rgb(230, 168, 75);
}
.search-select{
    background-color: #f3f3f3;
    width: 45px;
    padding: 5px;
    border: none;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.search-input{
    width: 100%;
    font-size: 1 rem;
    border: none;
}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0F1111;
    size: 20px;
}
.login-account{
    align-items: center;
}
.hello{
    font-size: 12px;
    padding-left: 3px;
}

.login-account{
    font-size: 14px;
    color: white;
    background-color: #0F1111;
    border: none;
    font-weight: bold;
}

.nav-cart i{
    font-size: 30px;

}

.nav-cart{
    font-size: 0.85 rem;
    font-weight: 500;
}

.panel{
    height: 39px;
    background-color: #163434;
    color: #fff9f9;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.t1{
    padding: 8px 9px;
    
}

.all-bars{
    font-weight: bold;
    padding: 8px 9px;
}


.hero-section ul{
    display: flex;
    overflow-y: hidden;
    padding: 0px;
    height: 350px;
    mask-image: linear-gradient(to bottom, #ffffff 50%, #e2e7e6 100%, transparent);
}

.slider-img{
    flex: 1 0 auto;
    width: 100%;
    align-items: center;
}

.hero-section i{
    
    position: absolute;
    z-index: 1;
    top: 30%;
    padding: 5vh 1vw;
    background: #ffffff4f;
    color: #0000007b;
    cursor: pointer;
}

.a2{
    right: 0;
}
.shop-section{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    height: 300px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin: 15px;
}

.box-image{
    height: 250px;
    margin-top: 1rem;
    margin-bottom: 1 rem;
    background-size: cover;
}
.box-content{
    margin-left:10px ;
    margin-right:10px ;
    color: #007185;
}

